body {
    font-family: Arial, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    margin: 0;
    padding: 0px;
}

header {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

main {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    text-align: center;
}

.project h2 {
    margin-bottom: 5px;
}

.project a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #0056b3;
}

p {
    font-size: large;
}

a {
    text-align: center;
}