/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 75px;
    margin-right: 10px;
    border-radius: 60%;
}

.navbar .clinic-info {
    display: flex;
    flex-direction: column;
}

.logo a {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
}

.navbar .tagline {
    padding-left: 30px;
    color: #fff;
    font-size: 12px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Intro section styling */
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f1f1f1;
}

.intro-text {
    flex: 1;
    text-align: center;
}

.intro-text h1 {
    font-size: 2rem;
    color: #004080;
}

.intro-image {
    flex: 1;
    text-align: right;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    outline: 2px solid #180076;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Services section styling */

header {
    color: #180076;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    text-decoration: underline;
}


.services-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.service {
    text-align: center;
    max-width: 30%;
}

.service-image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-text {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

/* Footer styling */
footer {
    background-color: #004080;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: none;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    flex: 1;
    text-align: left;
    padding-left: 2rem;
}
