.h1-container {
    margin: 30px  30px;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: xxx-large;
    font-weight: bold;
    display: inline;
}

.hleft {
    margin: 0 0 0 -15px;
    color: white;
}


.calculator {
    width: 300px;
    margin: 50px auto;
    margin-top: 150px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.buttons button{
    opacity: 1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(162, 0, 255);
    border:#f0f0f0;
    cursor: pointer;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}

.buttons button:hover {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s;
}

.display {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
}

.buttons button:active {
    color: rgb(0, 0, 0);
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-img {
    background-color: black;
    background-size: cover;
    /* filter: blur(1px); */
    width: 50%;
    height: 100%;
}

.star {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: left 1s ease, top 1s ease;
    animation: floatAnimation 5s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    from { transform: translate(0, 0); }
    to { transform: translate(50px, 50px); }
}

#footer {
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    transition: bottom 0.3s ease;
    z-index: 1000;
    color: white;
}